<div class="navbar">
    <div class="toggle-bar">
      <button><i class="fas fa-bars"></i></button>
    </div>

    <div class="navbar-left-icons">
      <ul>
        <button>
          <li><i class="fab fa-youtube"></i></li>
        </button>
        <li class="youtube-title">YouTube</li>
      </ul>
    </div>

    <div class="navbar-input">
      <input type="text" placeholder="Search" />
      <span class="navbar-search-button">
        <button><i class="fas fa-search"></i></button
      ></span>
    </div>

    <div class="navbar-right-icons">
      <ul>
        <button>
          <li>
            <i class="fas fa-microphone" style="padding-right: 50px;"></i>
          </li>
        </button>
        <!-- <button>
        <li>
          <i class="fas fa-search"></i>
        </li></button> -->

        <button>
          <li>
            <i class="fas fa-video"></i>
          </li>
        </button>

        <button>
          <li>
            <i class="fas fa-ellipsis-v"
              ><i class="fas fa-ellipsis-v"
                ><i class="fas fa-ellipsis-v"></i></i
            ></i>
          </li>
        </button>
        <button>
          <li>
            <i class="fas fa-bell" style="padding-right: 70px"></i>
          </li>
        </button>
      </ul>
    </div>
  </div>