<app-navbar></app-navbar>



<div class="row create-video">
  <div class="col-1">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <div class="col-11" style="color: white">
    <form [formGroup]='createVideo'>
      <div class="row">
        

        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputVideoName">VideoName</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputVideoName"
              name="videoName"
              formControlName='videoName'
            />
          </div>
        </div>
      </div>

      

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputVideoViews">VideoViews</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputVideoViews"
              name="videoViews"
              formControlName='videoViews'
            />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputUploadDate">UploadDate</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUploadDate"
              name="uploadDate"
              formControlName='uploadDate'
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputThumbnail">Thumbnail</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputThumbnail"
              name="thumbnail"
              formControlName='thumbnail'
            />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputChannelName">ChannelName</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputChannelName"
              name="channelName"
              formControlName='channelName'
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputChannelLogo">ChannelLogo</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputChannelLogo"
              name="channelLogo"
              formControlName='channelLogo'
            />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputVideoTitle">VideoTitle</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputVideoTitle"
              name="videoTitle"
              formControlName='videoTitle'
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputDescription">Description</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputDescription"
              name="description"
              formControlName='description'
            />
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-success" (click)='saveVideo()'>ADD</button>
            </div>
            <div class="col-6">
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div style="color:white; margin-left: 100px;">
  value: {{createVideo.value | json}}
</div>



