<app-navbar></app-navbar>
<div class="row create-video">
    <div class="col-1">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="col-11" style="color:white;">
       <form>
           <div class="row">
               <div class="col-6">
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="text" class="form-control" id="exampleInputId">
          </div>
               </div>

               <div class="col-6">
        <div class="form-group">
            <label for="exampleInputVideoName">VideoName</label>
            <input type="text" class="form-control" id="exampleInputVideoName">
          </div>
        </div>
        </div>

            <div class="row">
                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputVideoViews">VideoViews</label>
            <input type="text" class="form-control" id="exampleInputVideoViews">
          </div>
                </div>

                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputUploadDate">UploadDate</label>
            <input type="text" class="form-control" id="exampleInputUploadDate">
          </div>
          </div>
            </div>

            <div class="row">
                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputThumbnail">Thumbnail</label>
            <input type="text" class="form-control" id="exampleInputThumbnail">
          </div>
                </div>

                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputChannelName">ChannelName</label>
            <input type="text" class="form-control" id="exampleInputChannelName">
          </div>
          </div>

        </div>


            <div class="row">
                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputChannelLogo">ChannelLogo</label>
            <input type="text" class="form-control" id="exampleInputChannelLogo">
          </div>
                </div>

                <div class="col-6">
          <div class="form-group">
            <label for="exampleInputVideoTitle">VideoTitle</label>
            <input type="text" class="form-control" id="exampleInputVideoTitle">
          </div>
          </div>

        </div>


        <div class="row">
            <div class="col-6">
          <div class="form-group">
            <label for="exampleInputDescription">Description</label>
            <input type="text" class="form-control" id="exampleInputDescription">
          </div>
          </div>

          <div class="col-6">
              <div class="row">
                  <div class="col-6">
          <button class="btn btn-success">ADD</button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger">Delete</button>
        </div>
        </div>
        </div>
        </div>
       </form>
    </div>
</div>