<ul>
          
    <button (click)="homebutton()">
      <li><i class="fas fa-home"></i></li>
      <p><small>Home</small></p>
    </button>

    
    <button>
      <li><i class="fas fa-fire"></i></li>
      <p><small>Trending</small></p>
    </button>
    

    
    <button>
      <li><i class="fab fa-youtube-square"></i></li>
      <p><small>Subscriptions</small></p>
    </button>
   

    
    <button>
      <li><i class="fas fa-play-circle" ></i></li>
      <p><small>Library</small></p>
    </button>

  </ul>