<div class="individual-side-cards">
    <a href="" style="text-decoration: none; color: white;">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/w2s.JPG" alt="" style="height:100px; width:120px">
        </div>
        <div class="col-6">
                <div class="individual-side-cards-title" style="font-size: 10px; color:white; text-align: justify; overflow: hidden;">
                    W2S is a good youtuber
                </div>
                <div class="individual-side-cards-secondary-title">
                    <span class="text-muted" style="font-size: 10px;"><b>W2S</b></span><br />
                    <span class="text-muted" style="font-size: 8px;">420k views 1 year ago</span>
                </div>
                   
            
            
                <!-- <p class="text-muted"><b>W2S</b></p>
                <p class="text-muted">434k views 3 years ago</p> -->
            
        </div>
    </div>
</a>
</div>