*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
}
:root{
    --navbarBlack:#292929;
}
.navbar{
    background-color:var(--navbarBlack);
    height:60px;
}
.navbar .navbar-right-icons{
    font-size: 18px;
    position: absolute;
    right:0px;
    
}

.navbar-right-icons button{
    background-color: var(--navbarBlack);
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
}
.navbar .navbar-right-icons ul{
    margin:0px;
    padding: 0px;
    list-style: none;
    background-color: var(--navbarBlack);;
}

.navbar .navbar-right-icons ul li{
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    background-color:var(--navbarBlack);
}

.navbar .navbar-right-icons ul i{
    background-color: var(--navbarBlack);
}

.navbar .navbar-left-icons{
    background-color: var(--navbarBlack);
    color: white;
    position: absolute;
    left:50px;
}
.navbar .navbar-left-icons i{
    color:red;
    font-size: 25px;
    background-color: var(--navbarBlack);
}

.navbar .navbar-left-icons ul li{
    background-color: var(--navbarBlack);
    /* border: 1px solid blue; */
    display: inline;
}

.navbar .navbar-left-icons ul{
    background-color: var(--navbarBlack);
}


.navbar-left-icons button{
    background-color: var(--navbarBlack);
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    position: relative;
    top:10px;
}

.navbar-left-icons .youtube-title{
    /* border: 1px solid red; */
    background-color: var(--navbarBlack);
   position: relative;
   top:5px;
   padding-left:2px;
   letter-spacing: -1px;
   
}


.toggle-bar{
    background-color: var(--navbarBlack);
    color: white;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 20px;
}
.toggle-bar button{
    background-color: var(--navbarBlack);
    outline: none;
    color: white;
    border: none;
    overflow: hidden;
}

.navbar-input{
    background-color: var(--navbarBlack);
    position: absolute;
    left:325px;   
    
}

.navbar-input input[type="text"]{
    background-color: #1a1a1a;
    outline: none;
    border: none;
    height: 31px;
    width:500px;
    text-indent: 10px;
    color: white;
    
    /* border:1px solid gray;  */
}

.navbar-input button{
    background-color: #424242;
    border:none;
    color:white;
    width:60px;
    outline:none;
    position: relative;
    left:-3px;
    height:31px;
}

.navbar-input .navbar-search-button button i{
    /* border:2px solid blue; */
    background-color: #424242;
}

.navbar-input .navbar-search-button{
    background-color: var(--navbarBlack);
}



.sidebar{
    /* border:2px solid red; */
    background-color: #262626;
    height: 100vh;
    position: absolute;
    left: 0px;
    width: 80px;
    
}

.sidebar ul li{
    
    list-style: none;
    
    
}

.sidebar ul button{
    
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color:#262626 ;
    color: white;
    border: none;
    outline: none;
    position: relative;
    left: -20px;

}



.sidebar ul button p{
    background-color: #262626;
    font-size: 12px;
}

.sidebar ul{
    background-color: #262626;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.sidebar ul button li{
    background-color: #262626;
    font-size: 17px;
}



/* home-video-container */
.home-video-container{
    color: white; 
    margin-top:15px;
}

.home-cards{
    width:300px; 
    /* border:5px solid yellow; */
    height:317px;
    overflow: hidden;
    padding:0px; margin:0px;
}



.home-cards-second-row .col-2{
    padding:0px; 
}
.home-cards-second-row .col-2 img{
    margin-left: 10px;
    width: 50px;
}

.home-cards-image img{
    max-width: 100%;
}




@media (max-width:800px){
    .sidebar{
        display: none;
    }
    .navbar-input{
        display: none;
    }
}

@media(max-width:500px){
    .navbar-right-icons{
        display: none;
    }
}

@media (min-width:801px) and (max-width:1100px){
    .navbar-input{
        left:200px;
    }
    .navbar-input input[type="text"]{
        width: 200px;
    }

}

