<div class="comments">
    <div class="row" style="color: white;">
        Comments 
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <input type="text" placeholder="Add a public comment">
        </div>
        
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-1">

        </div>
        <div class="col-11" style="color:white">
            <div class="row" style="font-size:14px;">
                <b style="padding:0px;">Traversy Media</b>
            </div>
            <div class="row" style="font-size: 12px;">hello</div>
        </div>
    </div>
</div>