
<div class="home-video-container" >
    
    <div class="row">
        <div class="col" *ngFor="let video of videos">
    <div class="home-cards" >
        
            

            
        <a [routerLink]='["/individual",video.id]' style="text-decoration: none; color:white">
            <!-- {{video.id}} -->
        <div class="row" >
            <div class="home-cards-image">
                <img src={{video.thumbnail}}>
            </div>
        </div>
        <div class="row home-cards-second-row">
            <div class="col-2">
                <img src={{video.channelLogo}} style="border-radius: 20px;;">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-10" style="text-align: justify; font-size: 15px;">
                        <b>{{video.videoName}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 text-muted" style="font-size: 12px;">
                        <b>{{video.channelName}}</b>
                        <p>{{video.videoViews/1000}}k views</p>
                    </div>
                </div>
            </div>
        </div>
   
    </a>
</div>
</div>
</div>

    
</div>


